.call-panel {
	height: 64vh;
}

#panel1 {
}
#panel2 {
	background-color: #000;
	padding: 0 !important;
}
#panel3 {
	
}
#panel4 {

}

video {
	width: 100% !important;
	height: 100% !important;
	margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#myRemoteVideo {
	height: 100%;
}

.btn-zappa {
	background-color: #f5a623;
}